.app {
  width: 100%;
  /* height: 100vh; */
  /* object-fit: contain;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}
.backgrounders {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.backgrounder {
  width: 100%;
  height: 100%;
}

.movie-content {
  position: relative;
}
